<section id="chi-siamo" class="about-section">
    <div class="container">

        <div class="intro-box reveal-on-scroll">
            <img src="assets/images/logo-trasp.webp" alt="La Dolce Vita Noleggio Auto" class="about-logo">

            <p class="intro-text" [innerHTML]="'ABOUT.INTRO_P1' | translate"></p>
        </div>

        <div class="features-wrapper">
            <h3 class="features-heading reveal-on-scroll">{{ 'ABOUT.FEATURES_TITLE' | translate }}</h3>

            <div class="features-grid">

                <div class="feature-card reveal-on-scroll">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" /></svg>
                    </div>
                    <h4>{{ 'ABOUT.F1_TITLE' | translate }}</h4>
                    <p>{{ 'ABOUT.F1_DESC' | translate }}</p>
                </div>

                <div class="feature-card reveal-on-scroll">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" /></svg>
                    </div>
                    <h4>{{ 'ABOUT.F2_TITLE' | translate }}</h4>
                    <p>{{ 'ABOUT.F2_DESC' | translate }}</p>
                </div>

                <div class="feature-card reveal-on-scroll">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" /></svg>
                    </div>
                    <h4>{{ 'ABOUT.F3_TITLE' | translate }}</h4>
                    <p>{{ 'ABOUT.F3_DESC' | translate }}</p>
                </div>

                <div class="feature-card reveal-on-scroll">
                    <div class="icon-box">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" /></svg>
                    </div>
                    <h4>{{ 'ABOUT.F4_TITLE' | translate }}</h4>
                    <p>{{ 'ABOUT.F4_DESC' | translate }}</p>
                </div>

            </div>
        </div>
    </div>
</section>
